<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1078341541114-47kfhjv9cugb1n2k68690on3lm7chbjs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1078341541114-47kfhjv9cugb1n2k68690on3lm7chbjs</string>
	<key>API_KEY</key>
	<string>AIzaSyAjjJ1h-iRov8ojb2CT70rynmNEl0vmJYM</string>
	<key>GCM_SENDER_ID</key>
	<string>1078341541114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebase3</string>
	<key>PROJECT_ID</key>
	<string>flutter3-55001</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter3-55001.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078341541114:ios:98dfcc3e61ad9f95d37d43</string>
</dict>
</plist>